<ion-header class="site-header" mode="md" *ngIf="selfShow">
  <ion-toolbar mode="md" color="dark">
    <ion-buttons slot="start">
      <ion-menu-toggle auto-hide="false">
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="">
        <img src="assets/images/top1.png" alt="Logo" width="50"/>
    </ion-title>
    <ion-buttons slot="end">
<!--        <app-avatar-container slot="end"></app-avatar-container>-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
