<div>
  <form (ngSubmit)="processSubmit()" [formGroup]="group" role="form">

    <div class="ion-text-center">
      <h2>Registration</h2>
    </div>


    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="10" size-sm="7" size-xl="6">
        <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
          <ion-label color="medium" position="stacked">First Name</ion-label>
          <ion-input readonly="true" formControlName="first_name"></ion-input>
        </ion-item>
        <bubbleup-validation-control [control]="group.controls['first_name']"></bubbleup-validation-control>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="10" size-sm="7" size-xl="6">
        <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
          <ion-label color="medium" position="stacked">Last Name</ion-label>
          <ion-input readonly="true" formControlName="last_name"></ion-input>
        </ion-item>
        <bubbleup-validation-control [control]="group.controls['last_name']"></bubbleup-validation-control>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="10" size-sm="7" size-xl="6">
        <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
          <ion-label color="medium" position="stacked">Email</ion-label>
          <ion-input readonly="true" formControlName="email"></ion-input>
        </ion-item>
        <bubbleup-validation-control [control]="group.controls['email']"></bubbleup-validation-control>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="10" size-sm="7" size-xl="6">
        <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
          <ion-label color="medium" position="stacked">Phone</ion-label>
          <ion-input formControlName="phone"></ion-input>
        </ion-item>
        <bubbleup-validation-control [control]="group.controls['phone']"></bubbleup-validation-control>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="waiverRequired">
      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col size="10" size-sm="7" size-xl="6">
          <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
            <ion-label color="medium" position="stacked">Waiver</ion-label>
            <div [innerHTML]="waiverText"></div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col size="10" size-sm="7" size-xl="6">
          <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
            <ion-label color="medium" position="stacked">Type Your Name To Agree With Waiver</ion-label>
            <ion-input formControlName="agree"></ion-input>
          </ion-item>
          <bubbleup-validation-control [control]="group.controls['agree']"></bubbleup-validation-control>
        </ion-col>
      </ion-row>

    </ng-container>


    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="10" size-sm="7" size-xl="6">
        <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
          <ion-label color="medium" position="stacked">Subscribe To Mailing List</ion-label>
          <ion-checkbox formControlName="mailing_subscribe"></ion-checkbox>
        </ion-item>
        <bubbleup-validation-control [control]="group.controls['mailing_subscribe']"></bubbleup-validation-control>
      </ion-col>
    </ion-row>


    <ng-container *ngIf="extraGuestsCount>0" formArrayName="extraGuests">

      <ng-container *ngFor="let extraGroup of extraGuests.controls; let ii = index">

        <div class="ion-text-center">
          <h4>Extra Guest {{ii+1}}</h4>
        </div>

        <ng-container [formControlName]="ii">

          <ion-row class="ion-justify-content-center ion-text-center">
            <ion-col size="10" size-sm="7" size-xl="6">
              <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
                <ion-label color="medium" position="stacked">First Name {{ii+1}}</ion-label>
                <ion-input [formControl]="getControl(extraGroup,'first_name-'+(ii+1))"></ion-input>
              </ion-item>
              <bubbleup-validation-control [control]="getControl(extraGroup,'first_name-'+(ii+1))"></bubbleup-validation-control>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center ion-text-center">
            <ion-col size="10" size-sm="7" size-xl="6">
              <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
                <ion-label color="medium" position="stacked">Last Name {{ii+1}}</ion-label>
                <ion-input [formControl]="getControl(extraGroup,'last_name-'+(ii+1))"></ion-input>
              </ion-item>
              <bubbleup-validation-control [control]="getControl(extraGroup,'last_name-'+(ii+1))"></bubbleup-validation-control>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center ion-text-center">
            <ion-col size="10" size-sm="7" size-xl="6">
              <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
                <ion-label color="medium" position="stacked">Email {{ii+1}}</ion-label>
                <ion-input [formControl]="getControl(extraGroup,'email-'+(ii+1))"></ion-input>
              </ion-item>
              <bubbleup-validation-control [control]="getControl(extraGroup,'email-'+(ii+1))"></bubbleup-validation-control>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center ion-text-center">
            <ion-col size="10" size-sm="7" size-xl="6">
              <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
                <ion-label color="medium" position="stacked">Phone {{ii+1}}</ion-label>
                <ion-input [formControl]="getControl(extraGroup,'phone-'+(ii+1))"></ion-input>
              </ion-item>
              <bubbleup-validation-control [control]="getControl(extraGroup,'phone-'+(ii+1))"></bubbleup-validation-control>
            </ion-col>
          </ion-row>

        </ng-container>

      </ng-container>

    </ng-container>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col class="ion-padding-top ion-margin-top" size="10" size-sm="7" size-xl="6">
         <bubbleup-validation-control [control]="group"></bubbleup-validation-control>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col class="ion-padding-top ion-margin-top" size="10" size-sm="7" size-xl="6">
        <ion-button expand="block" color="success" type="submit" #submitButton
                    [disabled]="inProgress">Register
        </ion-button>

          <ion-button expand="block" (click)="close()" color="medium">Skip</ion-button>
      </ion-col>
    </ion-row>


  </form>


</div>
