//ion-button {
//  --padding-start: 0;
//  --padding-end: 0;
//  margin-left: 0;
//  margin-right: 0;
//}

ion-item::part(native) {
  --inner-padding-end: 0;
  --padding-start: 0;
}

ion-textarea,
ion-textarea::part(native) {
  background-color: white !important;
  color: var(--ion-color-dark) !important;
  //padding: 3px;
}
