<form (ngSubmit)="processSubmit()" [formGroup]="group" novalidate role="form">

  <!-- Search Bar & List -->
  <ion-row class="ion-justify-content-center ion-text-center" *ngIf="!selectedEvent">
    <ion-col size="10" size-sm="7" size-xl="6">
      <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
        <!-- <ion-label color="medium" position="stacked">Search Events</ion-label> -->
        <ion-searchbar color="light" [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
      </ion-item>

      <ion-list>
        <ion-item *ngFor="let result of results" (click)="choose(result)">
          <ion-label>{{ result.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <!-- Event Details -->
  <ng-container *ngIf="selectedEvent">
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-sm="7" size-xl="6" class="ion-padding-top ion-padding-bottom">
        <!-- <h2 class="ion-no-margin">Event</h2> -->
        <ion-button fill="clear" (click)="reset($event)">
          <ion-icon name="arrow-back"></ion-icon>
          Back to search
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-padding-top" size="10" size-sm="7" size-xl="6">
        <!-- Selected Event -->
        <ion-item>
          <ion-label class="ion-text-wrap">
            <div><strong>Event</strong></div>
            <div>{{selectedEvent.name}}</div>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <div><strong>City</strong></div>
            <div>{{selectedEvent.eventCity || "N/A"}}</div>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <div><strong>Date</strong></div>
            <div class="ion-color-success">{{selectedEvent.eventDate}}</div>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <div><strong>Summary</strong></div>
            <div class="ion-color-success">{{tourDateSummary}}</div>
          </ion-label>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col class="ion-padding-top ion-margin-top ion-margin-bottom" size="10" size-sm="7" size-xl="6">
        <ion-button (click)="showQr(true)" *ngIf="!qrCodeShowing">&nbsp; Show Event QR-Code &nbsp;</ion-button>
        <ion-button (click)="showQr(false)" *ngIf="qrCodeShowing">&nbsp;  Hide Event QR-Code &nbsp;</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col class="ion-padding-top ion-margin-top" size="10" size-sm="7" size-xl="6">
        <ng-container *ngIf="this.selectedEvent && qrCodeShowing">
          <app-event-qr-code [code]="selectedEvent.qrCode"></app-event-qr-code>
        </ng-container>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col class="ion-padding-top ion-margin-top" size="10" size-sm="7" size-xl="6">
        <ion-button expand="block" color="success" (click)="goCheckIn()">Check-in Guests</ion-button>
      </ion-col>
    </ion-row>
  </ng-container>

</form>

