<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item lines="full" routerLink="/home" replaceUrl="true">
      <ion-icon slot="start" name="home"></ion-icon>
      <ion-label>
        Home
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Stat: checks {{checkCount}}, wait {{waitCount}}
      </ion-label>

      <ion-button (click)="refresh()">Refresh</ion-button>
    </ion-item>

    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Strong Search
      </ion-label>
      <ion-toggle #searchToggle [checked]="strongSearch" (ionChange)="handleToggleSearch($event)" slot="end"></ion-toggle>
    </ion-item>

    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Toggle Dark Theme
      </ion-label>
      <ion-toggle #schemeToggle [checked]="isDarkThemeActive" (ionChange)="handleToggleDarkTheme($event)" slot="end"></ion-toggle>
    </ion-item>

    <ion-item lines="full" routerLink="/send-sms"  replaceUrl="true">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Send SMS to Event Guests
      </ion-label>
    </ion-item>

    <ion-item lines="full" routerLink="/logout">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Logout
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
