<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="end" name="settings-outline1" size="medium" style="visibility: hidden"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div>
      <app-title></app-title>
    </div>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="end" name="settings-outline" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="app-content">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-margin-bottom ion-text-center" size="10" size-sm="7" size-xl="6">
        <div>{{tourDateTitle}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <h2>Send SMS to Event Guests</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="">
        <app-send-sms-form [event]="tourDate"></app-send-sms-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

