<form (ngSubmit)="processSubmit()" [formGroup]="group" novalidate role="form">

  <!-- Search Bar & List -->
  <ng-container *ngIf="!messageSent">

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="10" size-sm="7" size-xl="6">

        <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
          <ion-label color="medium" position="stacked">Message</ion-label>
          <ion-textarea formControlName="message"></ion-textarea>
        </ion-item>
        <bubbleup-validation-control [control]="group.controls['message']"></bubbleup-validation-control>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col class="ion-padding-top ion-margin-top" size="10" size-sm="7" size-xl="6">
        <ion-button expand="block" color="success" type="submit" #submitButton
                    [disabled]="inProgress || isEmptyMessage">Send SMS
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col class="ion-padding-top ion-margin-top" size="10" size-sm="7" size-xl="6">
        <ion-button expand="block" color="white"
                    (click)="goCheckIn()">Back To Check-In
        </ion-button>
      </ion-col>
    </ion-row>

  </ng-container>

  <div *ngIf="messageSent" (click)="reset()" (tap)="reset()">
    <div class="ion-padding-bottom ion-padding-top ion-text-center">
      <div style="font-size: 150px;">
        <ion-icon name="checkmark-done-circle-outline" color="success"></ion-icon>
      </div>
      <div class="ion-color-success ion-margin-bottom" style="font-size: 2em;">SMS successfully Sent</div>
      <div>
        <ion-button expand="block" color="success" (click)="reset()">Go Back</ion-button>
      </div>
    </div>
  </div>

</form>
