<form (ngSubmit)="processSubmit()" [formGroup]="group" novalidate role="form">

  <!-- Search Bar & List -->
  <ng-container *ngIf="!messageSent">

    <div class="ion-justify-content-center ion-text-center">
      <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
        <ion-label position="stacked">Message</ion-label>
        <ion-textarea formControlName="message"></ion-textarea>
      </ion-item>
      <bubbleup-validation-control [control]="group.controls['message']"></bubbleup-validation-control>
    </div>



    <div class="ion-justify-content-center ion-text-center ion-margin-top ion-padding-top">
      <ion-item class="form-group w-100" lines="none">
        <ion-select
          interface="action-sheet"
          [interfaceOptions]="selectOptions"
          formControlName="selectedList"
          multiple="true"
          placeholder="Select Guest List"
          *ngIf="selectOptions.length > 0"
        >
          <ion-select-option [value]="option.value" *ngFor="let option of selectOptions">{{ option.label }}</ion-select-option>
        </ion-select>
      </ion-item>
      <bubbleup-validation-control [control]="group.controls['selectedList']"></bubbleup-validation-control>
    </div>

    <div class="ion-justify-content-center ion-text-center ion-margin-top ion-padding-top">
      <ion-item>
        <ion-label position="stacked">Checked-In Status</ion-label>
        <ion-select
          formControlName="checkedIn"
          interface="action-sheet"
          placeholder="Checked-In Status"
        >
          <ion-select-option [value]="''">Any Status</ion-select-option>
          <ion-select-option [value]="true">Checked In</ion-select-option>
          <ion-select-option [value]="false">Not Checked In</ion-select-option>
        </ion-select>
      </ion-item>
      <bubbleup-validation-control [control]="group.controls['checkedIn']"></bubbleup-validation-control>
    </div>

    <div class="ion-justify-content-center ion-text-center">
      <ion-button expand="block" color="primary" type="submit" #submitButton
                  [disabled]="inProgress || isEmptyMessage">Send SMS
      </ion-button>
    </div>

    <div class="ion-justify-content-center ion-text-center">
      <ion-button expand="block" color="medium"
                  (click)="goCheckIn()">Back To Check-In
      </ion-button>
    </div>

  </ng-container>

  <div *ngIf="messageSent" (click)="reset()" (tap)="reset()">
    <div class="ion-padding-bottom ion-padding-top ion-text-center">
      <div style="font-size: 150px;">
        <ion-icon name="checkmark-done-circle-outline" color="success"></ion-icon>
      </div>
      <div class="ion-color-success ion-margin-bottom" style="font-size: 2em;">SMS successfully Sent</div>
      <div>
        <ion-button expand="block" color="success" (click)="reset()">Go Back</ion-button>
      </div>
    </div>
  </div>

</form>
