/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #086ec1;
  --ion-color-primary-rgb: 8, 100, 193;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: color-mix(in srgb, var(--ion-color-primary), #000 15%);
  --ion-color-primary-tint: color-mix(in srgb, var(--ion-color-primary), #fff 15%);

  /** secondary **/
  --ion-color-secondary: #f44d40;
  --ion-color-secondary-rgb: 244, 77, 64;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: color-mix(in srgb, var(--ion-color-secondary), #000 15%);
  --ion-color-secondary-tint: color-mix(in srgb, var(--ion-color-secondary), #fff 15%);

  /** tertiary **/
  --ion-color-tertiary: #acd6e2;
  --ion-color-tertiary-rgb: 172, 214, 226;
  --ion-color-tertiary-contrast: #16202d;
  --ion-color-tertiary-contrast-rgb: 22, 32, 25;
  --ion-color-tertiary-shade: color-mix(in srgb, var(--ion-color-tertiary), #000 15%);
  --ion-color-tertiary-tint: color-mix(in srgb, var(--ion-color-tertiary), #fff 15%);

  /** success **/
  --ion-color-success: #1BBD9D;
  --ion-color-success-rgb: 27, 189, 157;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: color-mix(in srgb, var(--ion-color-success), #000 15%);
  --ion-color-success-tint: color-mix(in srgb, var(--ion-color-success), #fff 15%);

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #16202d;
  --ion-color-dark-rgb: 22, 32, 25;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: color-mix(in srgb, var(--ion-color-dark), #000 15%);
  --ion-color-dark-tint: color-mix(in srgb, var(--ion-color-dark), #fff 15%);

  /** medium **/
  --ion-color-medium: #ddf2ef;
  --ion-color-medium-rgb: 221, 242, 239;
  --ion-color-medium-contrast: #16202d;
  --ion-color-medium-contrast-rgb: 22, 32, 25;
  --ion-color-medium-shade: color-mix(in srgb, var(--ion-color-medium), #000 15%);
  --ion-color-medium-tint: color-mix(in srgb, var(--ion-color-medium), #000 15%);

  /** light **/
  --ion-color-light: #fff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /* font size */
  --ion-font-size-small: 1.125rem; // 16px
  --ion-font-size-base: 1.375rem; // 18px
  --ion-font-size-large: 1.5rem; // 24px
  --ion-font-size-extra-large: 2rem; // 24px
}


/*
 * Color Classes
 * -------------------------------------------
 */
.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
  color: var(--ion-color-primary);
}

.ion-color-secondary {
  --ion-color-base: var(--ion-color-secondary);
  --ion-color-base-rgb: var(--ion-color-secondary-rgb);
  --ion-color-contrast: var(--ion-color-secondary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondary-shade);
  --ion-color-tint: var(--ion-color-secondary-tint);
  color: var(--ion-color-secondary);
}

.ion-color-tertiary {
  --ion-color-base: var(--ion-color-tertiary);
  --ion-color-base-rgb: var(--ion-color-tertiary-rgb);
  --ion-color-contrast: var(--ion-color-tertiary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tertiary-contrast-rgb);
  --ion-color-shade: var(--ion-color-tertiary-shade);
  --ion-color-tint: var(--ion-color-tertiary-tint);
  color: var(--ion-color-tertiary);
}

.ion-color-success {
  --ion-color-base: var(--ion-color-success);
  --ion-color-base-rgb: var(--ion-color-success-rgb);
  --ion-color-contrast: var(--ion-color-success-contrast);
  --ion-color-contrast-rgb: var(--ion-color-success-contrast-rgb);
  --ion-color-shade: var(--ion-color-success-shade);
  --ion-color-tint: var(--ion-color-success-tint);
  color: var(--ion-color-success);
}

.ion-color-warning {
  --ion-color-base: var(--ion-color-warning);
  --ion-color-base-rgb: var(--ion-color-warning-rgb);
  --ion-color-contrast: var(--ion-color-warning-contrast);
  --ion-color-contrast-rgb: var(--ion-color-warning-contrast-rgb);
  --ion-color-shade: var(--ion-color-warning-shade);
  --ion-color-tint: var(--ion-color-warning-tint);
  color: var(--ion-color-warning);
}

.ion-color-danger {
  --ion-color-base: var(--ion-color-danger);
  --ion-color-base-rgb: var(--ion-color-danger-rgb);
  --ion-color-contrast: var(--ion-color-danger-contrast);
  --ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb);
  --ion-color-shade: var(--ion-color-danger-shade);
  --ion-color-tint: var(--ion-color-danger-tint);
  color: var(--ion-color-danger);
}

.ion-color-dark {
  --ion-color-base: var(--ion-color-dark);
  --ion-color-base-rgb: var(--ion-color-dark-rgb);
  --ion-color-contrast: var(--ion-color-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-shade);
  --ion-color-tint: var(--ion-color-dark-tint);
  color: var(--ion-color-dark);
}

.ion-color-medium {
  --ion-color-base: var(--ion-color-medium);
  --ion-color-base-rgb: var(--ion-color-medium-rgb);
  --ion-color-contrast: var(--ion-color-medium-contrast);
  --ion-color-contrast-rgb: var(--ion-color-medium-contrast-rgb);
  --ion-color-shade: var(--ion-color-medium-shade);
  --ion-color-tint: var(--ion-color-medium-tint);
  color: var(--ion-color-medium);
}

.ion-color-light {
  --ion-color-base: var(--ion-color-light);
  --ion-color-base-rgb: var(--ion-color-light-rgb);
  --ion-color-contrast: var(--ion-color-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-shade);
  --ion-color-tint: var(--ion-color-light-tint);
  color: var(--ion-color-light);
}

.ion-bg-primary {
  background-color: var(--ion-color-primary);
}

.ion-bg-secondary {
  background-color: var(--ion-color-secondary);
}

.ion-bg-tertiary {
  background-color: var(--ion-color-tertiary);
}

.ion-bg-success {
  background-color: var(--ion-color-success);
}

.ion-bg-warning {
  background-color: var(--ion-color-warning);
}

.ion-bg-danger {
  background-color: var(--ion-color-danger);
}

.ion-bg-dark {
  background-color: var(--ion-color-dark);
}

.ion-bg-dark-shade {
  background-color: var(--ion-color-dark-shade);
}

.ion-bg-medium {
  background-color: var(--ion-color-medium);
}

.ion-bg-light {
  background-color: var(--ion-color-light);
}


/*
 * Utils
 * -------------------------------------------
 */
.margin-half {
  --ion-margin: 8px;

  margin-left: unset;
  margin-right: unset;
  -webkit-margin-start: var(--ion-margin, 8px);
  margin-inline-start: var(--ion-margin, 8px);
  -webkit-margin-end: var(--ion-margin, 8px);
  margin-inline-end: var(--ion-margin, 8px);
}

.padding-item-x {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding-item-y {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padding-item-start {
  padding-left: 10px !important;
}

.border-bottom {
  --border-color: var(--ion-color-dark-tint);

  border-bottom: 1px solid var(--border-color);
}

/*
 * App
 * -------------------------------------------
 */
html {
  --ion-backdrop-color: var(--ion-color-dark);
  --ion-overlay-background-color: var(--ion-color-dark-tint);
  --ion-font-family: var(--ion-default-font);

  --border-radius: 0;
}

body {
  --ion-background-color: var(--ion-color-dark);
  --ion-text-color: var(--ion-color-light);
}

/*
 * Components
 * -------------------------------------------
 */
// Content Block
ion-content {
  --keyboard-offset: 0px;
  --offset-bottom: 0px;
  --offset-top: 0px;
  --padding-top: 1.5rem;
}

// Toolbar
ion-toolbar {
  --ion-toolbar-background: var(--ion-color-dark-shade);

  ion-back-button {
    --icon-font-size: 1.25rem;
    --icon-margin-end: 0px;
  }
}

// Buttons
ion-button, ion-button.ios, ion-button.md {
  --border-radius: 0;
  --box-shadow: none;
  --opacity: 1;
  --transition: none;
  --ripple-color: transparent;
}

// Inputs
ion-input {
  --background: var(--ion-color-light) !important;
  --color: var(--ion-color-dark) !important;
  --padding-start: 1rem !important;
  --padding-end: 1rem !important;
  --border-radius: 0;
}

// Toggle
ion-toggle {
  --background: var(--ion-color-tertiary);
}

// Items
ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-color: var(--ion-color-dark-tint);
  --background-hover-opacity: 0;
}

ion-label {
  margin-right: 0;
}
