<ion-content fullscreen>
  <div class="login-content ion-padding-top ion-padding-bottom">
    <!-- <ion-card slot="fixed" class="card100 ion-no-margin"> -->
    <div class="login-logo ion-padding-bottom">
      <img alt="VIP Nation Logo" aria-hidden="true" src="https://images.bubbleup.com/vipnation/images/vipnation.png"
           width="400">
    </div>


    <!--  <div class="intro-mobile-footer__form mb-4 pb-2">-->
    <app-login-form></app-login-form>
    <!--  </div>-->

  </div>

</ion-content>
