<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="end" name="settings-outline1" size="large" style="visibility: hidden"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="ion-padding-top">
      <app-title></app-title>
    </div>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="end" name="settings-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row class="ion-justify-content-center" *ngIf="!inScan">
      <ion-col size="12" class="ion-padding-top ion-padding-bottom ion-text-center">
        <h2 class="ion-no-margin">Search Guest</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <app-lookup-form [tourDate]="tourDate" (scanOpened)="scanOpened($event)" [guests]="tourDate.guests" *ngIf="tourDate" #lookupForm></app-lookup-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="ion-text-center"  *ngIf="!inScan">
    <ion-title>{{tourDateTitle}}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center" *ngIf="inScan">
    <ion-button (click)="stopScan()">Cancel</ion-button>
  </ion-toolbar>

</ion-footer>
