<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="end" name="settings-outline1" size="medium" style="visibility: hidden"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div>
      <app-title></app-title>
    </div>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="end" name="settings-outline" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="app-content">
  <ion-grid>
    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="11" class="">

        <div class="ion-justify-content-center" *ngIf="!inScan">
          <div class="ion-padding-top ion-padding-bottom">
            <!-- <h2 class="ion-no-margin">Event</h2> -->

            <ion-button mode="ios" fill="clear" size="small" color="medium" class="button-p-0" (click)="backToSearch()">
              <ion-icon name="arrow-back"></ion-icon>
              Back to search event
            </ion-button>
          </div>
        </div>

        <div class="ion-justify-content-center ion-padding-bottom ion-margin-bottom">
          <div class="ion-margin-bottom ion-text-center">
            <!--        <div><strong>Event</strong></div>-->
            <h1 class="h2 ion-margin-bottom">{{tourDateTitle}}</h1>
            <p class="h5 ion-margin-bottom">Summary: {{tourDateSummary}}</p>
            <!--        <br/>-->
            <!--        <small class="ion-color-success" [innerHTML]="tourDateListsSummary"></small>-->
            <!--        <br/>-->
            <div [style.color]="getColor()" class="h4 ion-margin-bottom">{{listInfo}}</div>

            <div class="ion-padding ion-bg-dark-shade" *ngIf="listSummary">
              <span class="h6" [innerHTML]="listSummary"></span>
            </div>
          </div>
        </div>

        <div class="ion-justify-content-center" *ngIf="!inScan">
          <!--      <ion-col size="12" class="ion-text-center">-->
          <!--        <h2 class="ion-no-margin">Guest</h2>-->
          <!--      </ion-col>-->
        </div>

        <div>
          <app-lookup-form [tourDate]="tourDate" (scanOpened)="scanOpened($event)" [guests]="tourDate.guests" *ngIf="tourDate" #lookupForm></app-lookup-form>
        </div>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [translucent]="true">

  <ion-toolbar class="ion-bg-dark-shade" *ngIf="!inScan">
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="d-flex ion-align-items-center">
          <!-- For OFFLINE use .user-status--off -->
          <ion-text class="user-status user-status--on">
            Online
          </ion-text>
        </ion-col>

        <ion-col size="6">
          <div class="ion-text-right">
            <ion-button mode="ios" size="small" color="primary">
              <ion-icon name="qr-code-outline" aria-hidden="true"></ion-icon>
              <span class="padding-item-start">Scan QR</span>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-toolbar class="ion-text-center" *ngIf="inScan">
    <ion-button (click)="stopScan()">Cancel</ion-button>
  </ion-toolbar>
</ion-footer>
