<div class="ion-text-center ion-margin-bottom" *ngIf="!inScan">
  <h2 *ngIf="mode==='lookup' && !selectedGuest">Select Guest</h2>
  <h2 *ngIf="mode==='lookup' && selectedGuest">Guest</h2>
<!--  <h2 class="ion-no-margin">Guest</h2>-->
</div>

<form (ngSubmit)="processSubmit()" [formGroup]="group" novalidate role="form">

  <ng-container *ngIf="!inScan && mode==='lookup'">

    <div class="ion-justify-content-center ion-text-center">
      <ion-item lines="none" xmlns="http://www.w3.org/1999/html">
        <!-- <ion-label color="medium" position="stacked">Search Events</ion-label> -->
        <!-- <ion-input type="text" [clearInput]="true" autocomplete="event" required="true" formControlName="event"></ion-input> -->
        <ion-searchbar color="light" [debounce]="1000" (ionInput)="handleInput($event)"
                       (ionClear)="clearSearch($event)" [value]="searchVal" #userSearchBar></ion-searchbar>
      </ion-item>
    </div>

    <div class="ion-justify-content-center ion-text-center">
      <ion-list>

        <ion-item class="table-header" *ngIf="!selectedGuest">
          <ion-label>
            <ion-grid>
              <ion-row class="ion-text-left">
                <ion-col size="6"><strong>Ticket Type</strong></ion-col>
                <ion-col size="6"><strong>Guest</strong></ion-col>
<!--                <ion-col size="4"><strong>Email</strong></ion-col>-->
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>

        <ion-item *ngFor="let result of results" (click)="choose(result)">
          <ion-label>
            <ion-row class="ion-text-left">
              <ion-col size="12" size-sm="6" class="ion-text-wrap" [style.color]="getListColor(result)">{{getListInfo(result)}}</ion-col>
              <ion-col size="12" size-sm="6" class="ion-text-wrap">
                <p class="ion-text-wrap">{{ result.firstName }} {{ result.lastName }}</p>
                <p class="ion-text-wrap">{{ result.email }}</p>
              </ion-col>
<!--                <ion-col size="3" class="ion-text-center"><ion-button color="medium">Select</ion-button></ion-col>-->
            </ion-row>
          </ion-label>
        </ion-item>

      </ion-list>

    </div>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-padding-top" size="11">

        <!-- QR Code -->
        <ng-container *ngIf="!selectedGuest && !checkStatus && !inError">

          <div class="ion-text-center">
            <div class="ion-margin-bottom">Click to scan QR code ticket</div>
            <div class="qr-code__wrapper ion-padding" (click)="scan()">
              <img src="assets/images/qr-code-sample.png" alt="">
            </div>
          </div>

        </ng-container>

        <ng-container *ngIf="selectedGuest">

          <!-- Check In -->
          <ion-grid class="ion-margin-top ion-margin-bottom">
            <ion-row>
              <ion-col size="6">
                <ion-item *ngIf="this.selectedGuests.length !== 1">
                  <ion-label class="ion-text-wrap">
                    <div><strong>Purchaser</strong></div>
                    <div class="ion-color-success">{{selectedGuestPurchaserName}}</div>
                    <div class="ion-color-success">{{selectedGuestPurchaserEmail}}</div>
                    <div class="ion-color-success">{{selectedGuestPurchaserPhone}}</div>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="this.selectedGuests.length == 1">
                  <ion-label class="ion-text-wrap">
                    <div><strong>Guest</strong></div>
                    <div class="ion-color-success">{{selectedGuestName}}</div>
                    <div class="ion-color-success">{{selectedGuestEmail}}</div>
                    <div class="ion-color-success">{{selectedGuestPhone}}</div>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item *ngIf="selectedGuest['isRegistered']">
                  <ion-label class="ion-text-wrap">
                    <div><strong>Checked-in</strong></div>
                    <div class="ion-color-success">{{checkedInCount}}</div>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="notesText">
                  <ion-label class="ion-text-wrap">
                    <div><strong>Notes</strong></div>
                    <div class="ion-color-success">{{notesText}}</div>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                &nbsp;

              </ion-col>

              <ion-col size="6">
                &nbsp;
              </ion-col>
            </ion-row>
          </ion-grid>

          <div class="ion-margin-top ion-margin-bottom">
            <app-guest-list [guestList]="allGuests"
                            [selectedGuest]="selectedGuest"
                            [purchaserGuest]="selectedPurchaserGuest"
                            [selectedGuests]="selectedGuests"
                            (selectAll)="handleSelectAll($event)"
                            (registerGuest)="handleRegister($event)"
                            (updateGuest)="handleUpdate($event)"
                            (selectGuest)="handleSelect($event)"
                            (deselectGuest)="handleDeselect($event)"></app-guest-list>



            <ion-item class="ion-margin-top" *ngIf="detailsText && detailsText.length > 0">
              <ion-label class="ion-text-wrap">
                <div><strong>Details</strong></div>
                <ng-container *ngFor="let details of detailsText">
                  <div class="ion-color-success">{{details}}</div>
                </ng-container>
              </ion-label>
            </ion-item>

            <ion-item *ngIf="pkgText">
              <ion-label class="ion-text-wrap">
                <div><strong>Pkg</strong></div>
                <div class="ion-color-success">{{pkgText}}</div>
              </ion-label>
            </ion-item>

            <ng-container *ngIf="canShowCheckingOut()">

              <div class="ion-padding-top ion-text-center">
                <div class="">Please verify ID for the guest</div>
              </div>

              <ion-row class="ion-justify-content-center">
                <ion-col class="ion-padding-top" size="6">
                  <div class="ion-padding-bottom ion-padding-top ion-text-center">
                    <div>
                      <ion-button expand="block" color="success" (click)="mainCheckIn(selectedGuest)"
                                  [disabled]="!isActiveCheckin()">{{checkInText()}}
                      </ion-button>
                    </div>
                  </div>
                </ion-col>
                <ion-col class="ion-padding-top" size="6">
                  <div class="ion-padding-bottom ion-padding-top ion-text-center">
                    <div>
                      <ion-button expand="block" color="danger" (click)="mainCheckOut(selectedGuest)"
                                  [disabled]="!isActiveCheckout()">{{checkOutText()}}
                      </ion-button>
                    </div>
                  </div>
                </ion-col>
              </ion-row>

              <!--              <div class="ion-padding-bottom ion-padding-top ion-text-center" *ngIf="!selectedGuest['isCheckedIn']">-->
              <!--                <div class="ion-margin-bottom">Please verify ID and check-in guest</div>-->
              <!--                <div>-->
              <!--                  <ion-button expand="block" color="success" (click)="checkIn(selectedGuest)">Check-in Guest-->
              <!--                  </ion-button>-->
              <!--                </div>-->
              <!--              </div>-->

              <!--              <div class="ion-padding-bottom ion-padding-top ion-text-center" *ngIf="selectedGuest['isCheckedIn']">-->
              <!--                <div class="ion-margin-bottom">This guest already checked-in</div>-->
              <!--                <div>-->
              <!--                  <ion-button expand="block" color="danger" (click)="checkOut(selectedGuest)">Check-out Guest-->
              <!--                  </ion-button>-->
              <!--                </div>-->
              <!--              </div>-->
            </ng-container>

            <ng-container *ngIf="canShowRegisterAll()">

              <div class="ion-padding-bottom ion-padding-top ion-text-center">
                <div>
                  <!--                  <ion-button expand="block" color="warning" (click)="sendRegEmail(selectedGuest)">Send Registration Email-->
                  <!--                  </ion-button>-->

                  <ion-button expand="block" color="dark" (click)="showRegister(selectedGuest)">Register All & Check-In
                  </ion-button>

                </div>
              </div>

            </ng-container>


            <ng-container *ngIf="inTest">

              <div class="ion-padding-bottom ion-padding-top ion-text-center">
                <div class="ion-margin-bottom">Test</div>
                <div>
                  <!--                  <ion-button expand="block" color="warning" (click)="sendRegEmail(selectedGuest)">Send Registration Email-->
                  <!--                  </ion-button>-->

                  <ion-button expand="block" color="warning" (click)="testAction()">Action
                  </ion-button>

                  <ion-button expand="block" color="warning" (click)="logAction()">Log Action
                  </ion-button>

                </div>
              </div>

            </ng-container>
          </div>

        </ng-container>

        <!-- Error -->
        <div *ngIf="inError">
          <div class="ion-padding-bottom ion-padding-top ion-text-center">
            <div class="ion-color-primary ion-margin-bottom">Scanned QR code ticket is invalid</div>
            <div>
              <ion-button expand="block" color="primary" (click)="closeError()">Try again</ion-button>
            </div>
          </div>
        </div>




        <!--        <div *ngIf="checkStatus === 'emailSent'" (click)="clearChecked()" (tap)="clearChecked()">-->
        <!--          <div class="ion-padding-bottom ion-padding-top ion-text-center">-->
        <!--            <div style="font-size: 150px;">-->
        <!--              <ion-icon name="checkmark-done-circle-outline" color="warning"></ion-icon>-->
        <!--            </div>-->
        <!--            <div class="ion-color-warning ion-margin-bottom" style="font-size: 2em;">Registration Email Sent</div>-->
        <!--            <div>-->
        <!--              <ion-button expand="block" color="warning" (click)="clearChecked()">Back to check-in</ion-button>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->

      </ion-col>
    </ion-row>

  </ng-container>

  <ng-container *ngIf="mode === 'checkresult'">
    <div *ngIf="checkStatus === 'registered'">
      <div class="ion-padding-bottom ion-padding-top ion-text-center">
        <div>
          <h4 class="ion-color-success ion-margin-bottom">{{getRegisteredName()}}</h4>
        </div>

        <div style="font-size: 150px;">
          <ion-icon name="checkmark-done-circle-outline" color="success"></ion-icon>
        </div>
        <div class="ion-color-success ion-margin-bottom" style="font-size: 2em;">Registered & Checked In</div>

        <ng-container *ngIf="getNextUnregisteredGuest()">
        <div>
          <ion-button expand="block" color="success" (click)="registerNext()">Register Next Guest</ion-button>
        </div>
        <div>
          <ion-button expand="block" color="" (click)="skipRegister()">Skip</ion-button>
        </div>
        </ng-container>

        <ng-container *ngIf="!getNextUnregisteredGuest()">

          <div>
            <ion-button expand="block" color="" (click)="skipRegister()">Back to check-in</ion-button>
          </div>
        </ng-container>
      </div>
    </div>

    <div *ngIf="checkStatus === 'in'" (click)="clearChecked()" (tap)="clearChecked()">
      <div class="ion-padding-bottom ion-padding-top ion-text-center">
        <div style="font-size: 150px;">
          <ion-icon name="checkmark-done-circle-outline" color="success"></ion-icon>
        </div>
        <div class="ion-color-success ion-margin-bottom" style="font-size: 2em;">Checked In</div>
        <div>
          <ion-button expand="block" color="success" (click)="clearChecked()">Back to check-in</ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="checkStatus === 'out'" (click)="clearChecked()" (tap)="clearChecked()">
      <div class="ion-padding-bottom ion-padding-top ion-text-center">
        <div style="font-size: 150px;">
          <ion-icon name="checkmark-done-circle-outline" color="danger"></ion-icon>
        </div>
        <div class="ion-color-danger ion-margin-bottom" style="font-size: 2em;">Checked Out</div>
        <div>
          <ion-button expand="block" color="danger" (click)="clearChecked()">Back to check-in</ion-button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="mode ==='register'">
    <app-registration-form (closed)="closed($event)" [guest]="registerGuest" [tourDate]="tourDate"></app-registration-form>
  </ng-container>

  <ng-container *ngIf="mode ==='update'">
    <app-registration-form (closed)="closedUpdate($event)" [guest]="registerGuest" [tourDate]="tourDate" [onlyUpdate]="true"></app-registration-form>
  </ng-container>

</form>
