@font-face {
  font-family: 'LiveNation';
  src:
    url('/assets/fonts/LiveNation/LiveNation-Regular.woff2') format('woff2'),
    url('/assets/fonts/LiveNation/LiveNation-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LiveNation';
  src:
    url('/assets/fonts/LiveNation/LiveNation-Italic.woff2') format('woff2'),
    url('/assets/fonts/LiveNation/LiveNation-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LiveNation';
  src:
    url('/assets/fonts/LiveNation/LiveNation-Bold.woff2') format('woff2'),
    url('/assets/fonts/LiveNation/LiveNation-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LiveNation';
  src:
    url('/assets/fonts/LiveNation/LiveNation-BoldItalic.woff2') format('woff2'),
    url('/assets/fonts/LiveNation/LiveNation-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LiveNation';
  src:
    url('/assets/fonts/LiveNation/LiveNation-ExtraBold.woff2') format('woff2'),
    url('/assets/fonts/LiveNation/LiveNation-ExtraBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LiveNation';
  src:
    url('/assets/fonts/LiveNation/LiveNation-ExtraBoldItalic.woff2') format('woff2'),
    url('/assets/fonts/LiveNation/LiveNation-ExtraBoldItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --border-radius: 3px;
  --ion-font-family: 'LiveNation', sans-serif;
  // --ion-margin: 0;
  // --ion-padding: 0;
}

html, body {
  font-size: var(--ion-font-size-base, 22px);
}

body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ion-color-primary);
  font-weight: 900;
  text-transform: uppercase;
}

ion-button {
  --box-shadow: 0;
  --border-radius: inherit;
  font-weight: bold;
  text-transform: uppercase;
}

ion-input {
  --background: #e6e5e5 !important;
  --color: #000000 !important;
  --padding-start: 10px !important;

  @media (prefers-color-scheme: dark) {
    --background: #ffffff !important;
    --color: #000000 !important;
  }

  body.dark & {
    --background: #ffffff !important;
    --color: #000000 !important;
  }
}

/**
 * Fixes
 */

/**
 * Input Label Fix for Android devices
 * @file node_modules/@ionic/core/dist/collection/components/label/label.md.css
 */
.label-stacked.sc-ion-label-md-h {
  transform: scale(0.75); // Removing translateY(50%)
}

.dark-item {
  background-color: #2a2a2a;
}

.dark-item-m {
  //background-color: #2a2a2a;
  background-color: transparent;
  margin-bottom: 10px;
}

.bg-black {
  background-color: transparent;
}

ion-label, ion-text {
  font-size: calc(var(--ion-font-size-base, 22px) * 0.625) !important;
}

ion-label[size="small"], ion-text[size="small"] {
  font-size: calc(var(--ion-font-size-base, 22px) * 0.5) !important;
}

ion-label[size="large"], ion-text[size="large"] {
  font-size: calc(var(--ion-font-size-base, 22px)* 1.125) !important;
}

ion-item {
  border: none;
}

.err-small {
  font-size: calc(var(--ion-font-size-base, 22px) * 0.5) !important;
  color: red;
}
